.info 
    {
        background-color:rgb(250, 250, 210);
        border: 10px;
        border: 5px solid ;
        border-color: rgb(105, 105, 105);
        border-radius: 10px;
        line-break: auto;
    }
    b{
        font-weight: bold;
    }
    d{
        font-style: italic;
    }
    

